/* Body */
body {
    background-color: #e9f4ff;
}

/* Header */
.navbar {
    background-color: #adb5bd;
}

/* Main */
main {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    
}

main p, h4, ul {
    text-align: left;
}

img {
    width: 50%;
}

.element-container {
    margin: 1rem;
}

#bienvenue {
    text-align: center;
}

/* Footer */
footer {
    background-color: #adb5bd;
    margin: 0;
    padding: 0.25rem;
    padding-top: 1rem;
    text-align: center;
}

footer p {
    color: #343a40;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.link-hover:hover{
    color: #000000
}